h1{
    text-align: center;
    font-size: calc(3em + 2vw);
    text-decoration: none;
    
}

strong{
    color: #565656;
    font-style: italic;
    font-size: 4.5rem;
}

.live {
    background-color: #e9b537
}

.link {
    cursor: grab;
}
