h1{
    text-align: center;
    font-size: 5em;
    text-decoration: none;
    
}

strong{
    color: #565656;
    font-style: italic;
    font-size: 4.5rem;
}

.live {
    background-color: #e9b537
}