.footer {
    color: white;
    background-color: #565656;
    width: 100%;
    height: auto;
    font-size: 12px;
}

.titleSchool {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}
