<div class="footer">
  <div class="row">
    <div class="col justify-center mt-3 text-center">
      <p>@ 2019 by Students to
        <a href="https://wildcodeschool.fr/">
          <span class="titleSchool">WildCodeSchool</span>
        </a>
      </p>
    </div>
    <div class="col text-center mt-3">
      <p>Site developed by: <span class="font-weight-bold">Yorann, Loup, Magalie & Luc</span></p>
    </div>
  </div>
  <img src="https://avatars3.githubusercontent.com/u/8874047?s=200&v=4" alt="logoWCS"
  class="rounded mx-auto d-block">
</div>
